@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    min-width: 0;
}

input{
    color-scheme: dark;
}


@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
.message-slide-in {
  animation: slideIn 0.5s ease-out forwards;
}